.breadcrumbs {
    margin: 20px;
    font-size: 18px;
    color: #999;
    text-decoration: none !important;
  }

  .breadcrumb-inactive {
    color: #7a7272;
  }
  
  .breadcrumb-active {
    color: #000000;
  }
  
  .separator {
    margin: 0 5px;
  }